/** @format */

@import '@app/theme/index.scss';

nav {
    position: fixed;
    top: 20vh;
    right: 24px;
    z-index: 1;

    &,
    .tabs_subTabs,
    .tabs_subTabs_menu {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .tabs_subTabs_button,
    a {
        width: 36px;
        height: 36px;
        padding: 6px;
        display: flex;
        align-items: center;
        border-radius: 50%;
        background-color: $lightDark;
        transition: $shortTransition;
    }

    a {
        &:hover {
            background-color: $primary;
        }
    }

    .tabs {
        &_subTabs {
            &_button {
                &:hover,
                &.active {
                    background-color: $secondary;
                }
            }

            &_menu {
                height: 0;
                align-items: center;
                overflow: hidden;
                transition: $longTransition;

                a {
                    width: 28px;
                    height: 28px;
                    padding: 6px;
                }
            }
        }
    }
}
