/** @format */

@import '@app/theme/index.scss';

nav {
    padding: 24px 0;
    display: grid;
    grid-template-rows: 24px 1fr 24px;
    position: fixed;
    top: 0;
    right: 24px;
    z-index: 10;

    .burger {
        margin-left: auto;
        background-color: $lightDark;
        box-shadow: 0 0 8px $lightDark;
        border-radius: 50%;
        cursor: pointer;

        img {
            display: none;
        }
    }

    .tabs {
        height: 100vh;
        justify-content: center;

        &,
        &_subTabs_menu {
            gap: 8px;
        }

        &_subTabs_button,
        a {
            width: 36px;
            height: 36px;
            padding: 6px;
            display: flex;
            align-items: center;
            border-radius: 50%;
            background-color: $lightDark;
            transition: $shortTransition;
        }

        a {
            &:hover {
                background-color: $primary;
            }
        }

        &_subTabs {
            &_button {
                &:hover,
                &.active {
                    background-color: $secondary;
                }
            }

            &_menu {
                height: 0;
                align-items: center;
                overflow: hidden;
                transition: $longTransition;

                &.active {
                    padding: 8px 0;
                }

                a {
                    width: 28px;
                    height: 28px;
                    padding: 6px;
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .burger {
            width: 40px;
            height: 40px;
            padding: 8px;

            img {
                display: block;
            }
        }

        .tabs {
            height: unset;
            max-height: 0;
            margin-top: 0;
            align-items: center;
            justify-content: start;
            border-radius: 50%;
            opacity: 0;
            pointer-events: none;
            transition: $shortTransition;

            &.active {
                max-height: unset;
                margin-top: 24px;
                opacity: 1;
                pointer-events: unset;

                .tabs_subTabs_button,
                a {
                    box-shadow: 0 0 8px rgba($color: $light, $alpha: 0.3);
                }
            }
        }
    }
}
