/** @format */

@import '/src/theme/index.scss';

.inputRange {
    &,
    input[type='range'] {
        width: 100%;
    }

    input[type='range'] {
        border-radius: 0;
        outline: none;
        cursor: pointer;

        &,
        &::-webkit-slider-thumb {
            appearance: none;
            -webkit-appearance: none;
        }

        &:hover {
            &::-webkit-slider-runnable-track {
                background: rgba($color: #252525, $alpha: 0.7);
            }

            &::-webkit-slider-thumb {
                box-shadow: 0 0 0 8px rgba($color: red, $alpha: 0.2);
            }
        }

        &::-webkit-slider-runnable-track {
            height: 8px;
            background: rgba($color: #252525, $alpha: 0.8);
        }

        &::-webkit-slider-thumb {
            width: 16px;
            height: 16px;
            margin-top: -4px;
            border-radius: 50%;
            background: $primary;
        }
    }
}
