/** @format */

@import '/src/theme/index.scss';

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;

    &:has(> .portfolioNav) {
        right: 24px;
    }

    &:has(> .platformNav) {
        left: calc(0px - $borderWidth);
    }
}
