/** @format */

@import '/src/theme/variables.scss';

#summary {
    .personal-info {
        &_row {
            display: flex;
            align-items: center;

            div {
                &:nth-of-type(1) {
                    width: 70%;
                    display: flex;
                    flex-wrap: wrap;

                    p {
                        width: 50%;
                        margin: 12px 0;

                        span.title {
                            text-transform: capitalize;
                            font-weight: 300;
                            opacity: 0.7;
                        }

                        span.value {
                        }
                    }
                }

                &:nth-of-type(2) {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h2 {
                        color: $primary;
                    }

                    h6 {
                        width: 128px;
                        text-transform: uppercase;
                        text-align: center;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .personal-info {
            &_row {
                flex-direction: column;

                div {
                    &:nth-of-type(1) {
                        width: 100%;
                    }

                    &:nth-of-type(2) {
                        margin-top: 32px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 530px) {
        .personal-info {
            &_row {
                flex-direction: column;

                div {
                    &:nth-of-type(1) {
                        p {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
