/** @format */

$dark: #252525;
$light: #eee;
$lightDark: #373737;
$primary: #eda200;
$secondary: #af48e7;
$success: #00cd4f;
$warning: #ff7214;
$danger: #f24442;

$borderWidth: 2px;

$shortTransition: 0.1s;
$longTransition: 0.3s;
