/** @format */

.stringGenerator {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .row {
        gap: 16px;

        &_range {
            justify-content: space-between;

            span {
                width: 32px;
                text-align: right;
            }
        }

        &_filter-history {
            @media (max-width: 767px) {
                flex-wrap: wrap;
                gap: 24px;

                .filter,
                .history {
                    width: 100%;
                }
            }
        }
    }

    .filter,
    .history {
        width: 48%;
    }

    .filter {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .history {
        padding-right: 32px;
        overflow: hidden;

        &_row {
            word-wrap: break-word;
        }
    }

    @media only screen and (max-width: 768px) {
        .row {
            &_controls {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
