@import '@app/theme/variables.scss';

.socialMediaLinks {
    display: flex;
    gap: 8px;

    svg {
        width: 32px;
        height: 32px;
        fill: $light;
        transition: $longTransition;

        &:hover {
            fill: $primary;
        }
    }
}
