/** @format */

@import '/src/theme/variables.scss';

.naughtsAndCrosses {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &_controls {
        width: 300px;
        display: flex;
        align-items: start;
        justify-content: end;
        gap: 8px;
        position: absolute;
        top: 0;
        right: 0;

        .column {
            width: 100%;
            gap: 4px;
        }
    }

    &_board {
        width: 300px;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        border-radius: 16px;
        background-color: $lightDark;
        overflow: hidden;

        &.disabled {
            pointer-events: none;
        }

        &_cell {
            overflow: hidden;
            cursor: pointer;
            transition: $shortTransition;

            &:nth-of-type(2),
            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(6),
            &:nth-of-type(8) {
                border-width: 0;
                border-style: solid;
                border-color: $primary;
            }

            &:nth-of-type(2),
            &:nth-of-type(8) {
                border-right-width: $borderWidth;
                border-left-width: $borderWidth;
            }

            &:nth-of-type(4),
            &:nth-of-type(6) {
                border-top-width: $borderWidth;
                border-bottom-width: $borderWidth;
            }

            &:nth-of-type(5) {
                border-width: $borderWidth;
            }

            &:hover {
                background-color: rgba($color: $light, $alpha: 0.1);
            }

            &.zero,
            &.cross {
                pointer-events: none;
            }

            &.zero svg,
            &.cross {
                width: 100%;
                height: 100%;
            }

            &.zero {
                padding: 2px;

                circle {
                    stroke: $primary;
                    stroke-width: $borderWidth;
                    fill: none;
                    stroke-dasharray: calc(2 * 3.14 * 50);
                    stroke-dashoffset: calc(2 * 3.14 * 50);
                    animation: drawCircle $longTransition linear forwards;
                    cx: calc(50px - $borderWidth * 2);
                    cy: calc(50px - $borderWidth * 2);
                    r: calc(50px - 2px * 2 - $borderWidth * 2);
                }
            }

            @keyframes drawCircle {
                to {
                    stroke-dashoffset: 0;
                }
            }

            &.cross {
                position: relative;

                &::before,
                &::after {
                    content: '';
                    width: $borderWidth;
                    height: 0;
                    position: absolute;
                    left: calc(8px - $borderWidth);
                    background: $secondary;
                    transform: rotate(45deg);
                    animation: draw-cross $longTransition linear forwards;
                }

                &::before {
                    bottom: 8px;
                    transform-origin: bottom;
                }

                &::after {
                    top: 8px;
                    transform-origin: top;
                    transform: rotate(-45deg);
                    animation-delay: $longTransition;
                }
            }

            @keyframes draw-cross {
                from {
                    height: 0;
                }
                to {
                    height: calc(100% * sqrt(2) - 24px - $borderWidth / 2);
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        &_controls {
            top: 68px;
            right: calc(50% - 300px / 2);
        }
    }
}
