/** @format */

@import '/src/theme/variables.scss';

.contacts {
    padding-bottom: 80px !important;

    &_row {
        align-items: center;

        &_info {
            width: 40%;

            h5 {
                text-transform: uppercase;
            }

            p {
                margin: 16px 0;
            }
        }

        &_form {
            width: 55%;
            padding: 16px;
            display: grid;
            grid-template-areas:
                'name email'
                'subject subject'
                'message message'
                'button .';
            gap: 12px;
            background-color: $lightDark;
            border: $borderWidth solid rgba($color: $light, $alpha: 0.1);

            & > :nth-of-type(1) {
                grid-area: name;
            }

            & > :nth-of-type(2) {
                grid-area: email;
            }

            & > :nth-of-type(3) {
                grid-area: subject;
            }

            & > :nth-of-type(4) {
                height: 80px;
                grid-area: message;
            }

            & > :nth-of-type(5) {
                grid-area: button;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        &_row {
            flex-wrap: wrap;
            gap: 32px;

            &_info,
            &_form {
                width: 100%;
            }
        }
    }

    @media only screen and (max-width: 500px) {
        &_row {
            gap: 16px;

            &_form {
                width: 100%;
                grid-template-areas:
                    'name'
                    'email'
                    'subject'
                    'message'
                    'button';
            }
        }
    }
}
