/** @format */

@import '@app/App.scss';

footer {
    padding: 8px 0;
    background-color: $lightDark;

    .name {
        @include font-PpObject;
        letter-spacing: 1px;
    }

    .links {
        svg {
            width: 32px;
            height: 32px;
            fill: $light;
            transition: $longTransition;

            &:hover {
                fill: $primary;
            }
        }
    }
}
