/** @format */

@import '@app/theme/index.scss';

footer {
    padding: 8px 0;
    background-color: $lightDark;
    z-index: 10;

    .name {
        @include font-PpObject;
        letter-spacing: 1px;
    }
}
