/** @format */

@import '@app/theme/index.scss';

footer {
    padding: 8px 0;
    background-color: $lightDark;
    z-index: 1;

    .name {
        font-family: 'PP Object', sans-serif;
        letter-spacing: 1px;
    }
}
