@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

$dark: #252525;
$light: #eee;

*,
*::before,
*::after {
  color: $dark;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 5rem;
  @media only screen and (max-width: 1200px) {
    font-size: 3.5rem;
  }
  @media only screen and (max-width: 768px) {
    font-size: 2rem;
  }
}
h2 {
  font-size: 3.5rem;
  @media only screen and (max-width: 768px) {
    font-size: 1.7rem;
  }
}
h3 {
  font-size: 2.5rem;
  @media only screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}
h4 {
  font-size: 2rem;
  @media only screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}
h5 {
  font-size: 1.5rem;
  @media only screen and (max-width: 768px) {
    font-size: 1.2rem;
  }
}
h6 {
  font-size: 1.2rem;
  @media only screen and (max-width: 768px) {
    font-size: 1rem;
  }
}
p,
a,
td,
li,
label,
input,
button {
  font-size: 1rem;
  @media only screen and (max-width: 768px) {
    font-size: 0.8rem;
  }
}

body{
    width: 100%;
    overflow-x: hidden; 
	background-color: $dark;
}

.container {
  width: 1100px;
  margin: auto;
  @media only screen and (max-width: 1200px) {
    width: 95%;
  }
}

//******************flex******************
.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

//******************custom scrollBar******************
::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
  background-color: $light;

  /* ползунок скроллбара */
  &-thumb {
    border-radius: 0.2rem;
  }
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, $light 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, $light 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, $light 30%, rgba(0, 0, 0, 0) 31%);
}

::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, $light 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(60deg, $light 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, $light 30%, rgba(0, 0, 0, 0) 31%);
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: linear-gradient(30deg, $light 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(150deg, $light 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(270deg, $light 30%, rgba(0, 0, 0, 0) 31%);
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: linear-gradient(210deg, $light 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(330deg, $light 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(90deg, $light 30%, rgba(0, 0, 0, 0) 31%);
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment {
  background-color: grey;

  &:hover {
    background-color: $dark;
  }
}

//******************hide browser input buttons******************
//******number******
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

//******************custom checkbox******************
input[type="checkbox"] {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;

  & + label {
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      margin: 0.5rem 0;
      -webkit-appearance: none;
      background-color: transparent;
      border: 2px solid #0079bf;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 10px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
    }
  }
}

input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
