/** @format */

.button {
    width: 200px;

    &.size {
        &-small {
            width: 120px;
        }

        &-full {
            width: 100%;
        }
    }

    button {
        width: 100%;
        padding: 8px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
}
